# Configuration de l'application
APP_NAME="Vite & Gourmand"
APP_ENV=development
APP_URL=http://localhost:8000
APP_DEBUG=true

# Base de données MySQL (relationnelle)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vitegourmand
DB_USER=root
DB_PASSWORD=

# Base de données MongoDB (NoSQL)
MONGO_URI="mongodb://localhost:27017"
MONGO_DB=vitegourmand_nosql

# Sécurité
APP_SECRET="changez-moi-par-une-cle-aleatoire-de-32-caracteres-minimum"

# Configuration mail (pour notifications)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@vitegourmand.fr
MAIL_FROM_NAME="Vite & Gourmand"

# Adresse e-mail des contacts entrants (formulaire contact)
CONTACT_TO=contact@vitegourmand.fr
